<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" align="right">
        <button class="btn btn-outline-primary btn-round w-25" routerLink="/inventario">
          <i class="fa fa-heart"></i> Añadir producto
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>Codigo</th>
              <th>Producto</th>
              <th>Categoria</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Unidades Disponibles</th>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos">
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.marca }}</td>
                <td>{{ producto.modelo }}</td>
                <td>{{ producto.cantidad }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- *ngIf="producto$ | async as producto; else cargando" -->
<div class="row"  >
<div class="col-md-12">
  <div class="card card-user">
    <div class="image">
      <img src="../assets/img/damir-bosnjak.jpg" alt="..." />
    </div>
    <div class="card-body">
      <div class="author">
        <a href="#">
          <img class="avatar border-gray" src="../assets/img/repuesto.jpg" alt="..." />
          <h5 class="title"> titulo </h5>
          <p class="title">titulo del producto</p>
        </a>
        <p class="description"></p>
      </div>
      <p class="description text-center">
        Disco de embrague, <br />
        Kit de embrague OE -<br />
        NUMÉRO MD802131
      </p>
    </div>
    <div class="card-footer">
      <hr />
      <div class="button-container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-6 ml-auto">
            <h5>1319.40<br /><small>Precio</small></h5>
          </div>
          <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
            <h5>25<br /><small>vendidos</small></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mr-auto">
            <h5>50<br /><small>Cantidad Disponible</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="d-flex align-items-center" #cargando>
  <strong>Cargando... &nbsp;</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>