<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <!--<a href="https://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../assets/img/logo-small.png">
        </div>
         <p>CT</p> 
      </a>-->
      <a href="#" class="simple-text logo-normal">
        Autorepuestos Lopez
        <!-- <div class="logo-image-big">
          <img src="../assets/img/logo-big.png">
        </div> -->
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a routerLink="/dashboard">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a routerLink="/inventario">
            <i class="nc-icon nc-diamond"></i>
            <p>Invetario</p>
          </a>
        </li>
        <li>
          <a routerLink="/lista">
            <i class="nc-icon nc-pin-3"></i>
            <p>Lista</p>
          </a>
        </li>
        <li>
          <a routerLink="/galeria">
            <i class="nc-icon nc-bell-55"></i>
            <p>Galeria</p>
          </a>
        </li>
        
      </ul>
    </div>
  </div>